<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

</head>
<body>
<h1 th:utext="${user.get().getFirstName()}">First name</h1>
<h1 th:utext="${user.get().getLastName()}">Last name</h1>
<table>
    <tr>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <td th:text="${user.get().getId()}">Id</td>
    <td th:text="${user.get().getFirstName()}">FirstName</td>
    <td th:text="${user.get().getLastName()}">LastName</td>
    <td th:text="${user.get().getEmail()}">Email</td>
    <td th:text="${user.get().getPassword()}">Password</td>
    <td th:text="${user.get().getAuthorities().iterator().next().getAuthority()}">Role</td>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>