<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<body>
<form th:method="POST"
      th:action="@{/admin/user-update/{id}(id=${user.getId()})}"
      th:object="${user}">

    <br>
    <span>ID</span>
    <input readonly type="number"
           th:field="*{id}"
    />

    <br>
    <span>First name</span>
    <input type="text"
           th:field="*{firstName}"/>

    <br>
    <span>Last name</span>
    <input type="text"
           th:field="*{lastName}"/>

    <br>
    <span>Age</span>
    <input type="text"
           th:field="*{age}"/>

    <br>
    <span>Email</span>
    <input type="text"
           th:field="*{email}"/>

    <br>
    <span>Enter new password</span>
    <input type="text"
           th:field="*{password}"/>

    <span > Change role </span>
    <select size="2"
            name="userRoles"
            multiple>
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
    </select>

    <p>
    <input type="submit"
           value="Update User"/>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>