<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST"
      th:action="@{/admin/user-create}"
      th:object="${user}">
    <label for="firstName">Enter first name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">

    <label for="lastName">Enter last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">

    <label for="eMail">Enter email</label>
    <input type="text" th:field="*{email}" id="eMail" placeholder="Email">

    <label for="password">Enter password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">

    <br>
    <span>Select role</span>
    <select size="2" name="userRoles" multiple required>
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
    </select>

    <input type="submit" value="Create User">
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>