<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST"
      th:action="@{/admin/user-create}"
      th:object="${user}">

    <br>
    <span> Enter first name</span>
    <input type="text" th:field="*{firstName}" required
    />

    <br>
    <span> Enter last name</span>
    <input type="text" th:field="*{lastName}" required
    />

    <br>
    <span> Enter email</span>
    <input type="text" th:field="*{email}" required
    />

    <br>
    <span> Enter password</span>
    <input type="text" th:field="*{password}" required
    />

    <br>
    <span>Select role</span>
    <select size="2" name="userRoles" multiple required>
        <option value="ADMIN">Admin</option>
        <option value="USER">User</option>
    </select>


    <input type="submit" value="Create User">

</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>