<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h2>Users Table</h2>
<table border="1">
    <tr>
        <th> Id </th>
        <th> First name </th>
        <th> Last name </th>
        <th> Email </th>
        <th> Password </th>
        <th> Role </th>
        <th> Edit user </th>
        <th> Delete user </th>
        <th> Show user </th>
        <th> </th>
        <th> </th>
    </tr>
    <tr th:each="user : ${users}" align="center">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getFirstName()}">FirstName</td>
        <td th:text="${user.getLastName()}">LastName</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getAuthorities().iterator().next().getAuthority()}">Role</td>
        <td><a th:href="@{/admin/user-update/{id}(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/user-delete/{id}(id=${user.getId()})}">Delete</a></td>
        <td><a th:href="@{/admin/user-show/{id}(id=${user.getId()})}">Show</a></td>
    </tr>
</table>
<a href="/admin/user-create">Add new user</a>

<p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>