<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="container-fluid" style="background-color: #595959">
        <div class="row align-items-center">
            <div class="col-8 text-light" style="text-align: left">
                <span th:text="${loggedInUser.getEmail()}">User email</span>
                <span>with roles:</span>
                <span th:each="role, i : ${loggedInUser.getAuthorities()}"
                      th:text="${i.first} ? ${role.getRoleName() + ', '} : ${role.getRoleName()}">User role</span>
            </div>
            <div class="col-4 text-light" style="text-align: right">
                <form th:action="@{/logout}" method="post">
                    <input class="btn text-light" type="submit" value="logout"/>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 vh-100" style="background-color: #ffffff">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">
                    Admin
                </a>
                <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">
                    User
                </a>
            </div>
        </div>

        <div class="col-10 vh-100" style="background-color: #e8e8e8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
                    <h1>Admin panel</h1>
<!--                    ПАНЕЛЬ НАВИГАЦИИ USER TABLE и NEW USER-->
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-usersTable-tab" data-bs-toggle="tab" href="#nav-usersTable" role="tab" aria-controls="nav-usersTable" aria-selected="true">
                            Users table
                        </a>
                        <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="tab" href="#nav-newUser" role="tab" aria-controls="nav-newUser" aria-selected="false">
                            New User
                        </a>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-usersTable" role="tabpanel" aria-labelledby="nav-usersTable-tab">
                            <h4>All users</h4>
                            <table class="table table-striped" style="background-color: white">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.getId()}">Id</td>
                                        <td th:text="${user.getFirstName()}">FirstName</td>
                                        <td th:text="${user.getLastName()}">LastName</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td th:text="${user.getAuthorities().iterator().next().getAuthority()}">Role</td>
                                        <td><a th:href="@{/admin/user-update/{id}(id=${user.getId()})}">Edit</a></td>
                                        <td><a th:href="@{/admin/user-delete/{id}(id=${user.getId()})}">Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                            <h4>Add new user</h4>
                            <table class="table table-striped" style="background-color: white">
                                <div class="container">
                                    <div class="row justify-content-center" style="text-align: center">
                                        <div class="col-6">
                                            <div>
                                                <form th:method="POST"
                                                      th:action="@{/admin/user-create}"
                                                      th:object="${user}">

                                                    <label class="form-label fw-bold">First name</label>
                                                    <input class="form-control bg-warning" type="text" th:field="*{firstName}">

                                                    <label class="form-label fw-bold">Last name</label>
                                                    <input class="form-control bg-warning" type="text" th:field="*{lastName}">

                                                    <label class="form-label fw-bold">Age</label>
                                                    <input class="form-control" type="number" th:field="*{age}">

                                                    <label class="form-label fw-bold">Email</label>
                                                    <input class="form-control bg-warning" type="email" th:field="*{email}" required>

                                                    <label class="form-label fw-bold">Password</label>
                                                    <input class="form-control" type="password" th:field="*{password}">

                                                    <label class="form-label fw-bold">Role</label>
                                                    <select class="form-select" size="2" name="userRoles" multiple required>
                                                        <option value="ADMIN">Admin</option>
                                                        <option value="USER">User</option>
                                                    </select>
                                                    <input class="btn btn-success" type="submit" value="Create User">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h2>User information-page</h2>
                    <table class="table table-striped" style="background-color: white">
                        <h4>About user</h4>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${loggedInUser.getId()}">Id</td>
                                <td th:text="${loggedInUser.getFirstName()}">FirstName</td>
                                <td th:text="${loggedInUser.getLastName()}">LastName</td>
                                <td th:text="${loggedInUser.getAge()}">Age</td>
                                <td th:text="${loggedInUser.getEmail()}">Email</td>
                                <td th:each="role, i : ${loggedInUser.getAuthorities()}"
                                    th:text="${i.first} ? ${role.getRoleName() + ','} : ${role.getRoleName()}">
                                    Role
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<main>


</main>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->
</body>
</html>








<!--<main>-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-2 vh-100" style="background-color: #ffffff">-->
<!--&lt;!&ndash;                <div class="d-flex align-items-start">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                    <div class="d-flex align-items-start">-->
<!--                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
<!--                            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>-->
<!--                            <a class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>-->
<!--                            <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>-->
<!--                            <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>-->
<!--                        </div>-->
<!--                        <div class="tab-content" id="v-pills-tabContent">-->
<!--                            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis aperiam accusantium facere minus totam, id cumque sequi ea harum necessitatibus animi inventore, sunt iste dicta libero consectetur ab eligendi repudiandae.</div>-->
<!--                            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id ducimus veniam optio porro impedit amet odio aliquam officia non nobis quisquam soluta repudiandae, earum nulla.</div>-->
<!--                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, dolores blanditiis labore praesentium sunt aperiam adipisci voluptatem minus tempore voluptatibus, aspernatur illum temporibus! Rem, quidem? Reiciendis ex explicabo perferendis nobis.</div>-->
<!--                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum consectetur voluptates inventore adipisci quaerat asperiores ab blanditiis excepturi sunt, assumenda est ad voluptatum, iste provident?</div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--&lt;!&ndash;                    <div class="tab-content" id="v-pills-tabContent">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis aperiam accusantium facere minus totam, id cumque sequi ea harum necessitatibus animi inventore, sunt iste dicta libero consectetur ab eligendi repudiandae.</div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id ducimus veniam optio porro impedit amet odio aliquam officia non nobis quisquam soluta repudiandae, earum nulla.</div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->


<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-10" style="background-color: #5e8ffc">-->
<!--                <div class="tab-content" id="v-pills-tabContent">-->
<!--                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">-->
<!--                        <h2>Admin panel</h2>-->
<!--                        <ul class="nav nav-tabs">-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link active" data-bs-toggle="tab" href="#users_table">-->
<!--                                    Users table-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="nav-item">-->
<!--                                <a class="nav-link" data-bs-toggle="tab" href="#new_user">-->
<!--                                    New user-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->

<!--                        <div class="tab-content">-->
<!--                            <div class="tab-pane fade show" id="users-table">-->
<!--                                <h2>All users</h2>-->
<!--                                <table class="table table-striped">-->
<!--                                    <caption class="caption-top fw-bold"><b>About User</b></caption>-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>ID</th>-->
<!--                                        <th>First Name</th>-->
<!--                                        <th>Last Name</th>-->
<!--                                        <th>Age</th>-->
<!--                                        <th>Email</th>-->
<!--                                        <th>Role</th>-->
<!--                                        <th>Edit</th>-->
<!--                                        <th>Delete</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    <tr th:each="user : ${users}" align="center">-->
<!--                                        <td th:text="${user.getId()}">Id</td>-->
<!--                                        <td th:text="${user.getFirstName()}">FirstName</td>-->
<!--                                        <td th:text="${user.getLastName()}">LastName</td>-->
<!--                                        <td th:text="${user.getAge()}">Age</td>-->
<!--                                        <td th:text="${user.getEmail()}">Email</td>-->
<!--                                        <td th:text="${user.getAuthorities().iterator().next().getAuthority()}">Role</td>-->
<!--                                        <td><a th:href="@{/admin/user-update/{id}(id=${user.getId()})}">Edit</a></td>-->
<!--                                        <td><a th:href="@{/admin/user-delete/{id}(id=${user.getId()})}">Delete</a></td>-->
<!--                                    </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">-->
<!--                        <h2>User information page</h2>-->
<!--                        <table class="table table-striped">-->
<!--                            <caption class="caption-top fw-bold">-->
<!--                                <b>-->
<!--                                    About user-->
<!--                                </b>-->
<!--                            </caption>-->

<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>Id</th>-->
<!--                                <th>First name</th>-->
<!--                                <th>Last name</th>-->
<!--                                <th>Age</th>-->
<!--                                <th>Email</th>-->
<!--                                <th>Password</th>-->
<!--                                <th>Role</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr align="center">-->
<!--                                <td th:text="${loggedInUser.getId()}">Id</td>-->
<!--                                <td th:text="${loggedInUser.getFirstName()}">FirstName</td>-->
<!--                                <td th:text="${loggedInUser.getLastName()}">LastName</td>-->
<!--                                <td th:text="${loggedInUser.getAge()}">Age</td>-->
<!--                                <td th:text="${loggedInUser.getEmail()}">Email</td>-->
<!--                                <td th:text="${loggedInUser.getPassword()}">Password</td>-->
<!--                                <td th:text="${loggedInUser.getAuthorities().iterator().next().getAuthority()}">Role</td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->



<!--                <ul class="d-grid gap-2 nav nav-pills nav-fill">-->
<!--                    <li class="nav-item">-->
<!--                        <button class="btn btn-primary nav-link active" data-bs-toggle="pill" data-bs-target="#pills-admin" style="text-align: left">-->
<!--                            Admin-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <button class="btn btn-primary nav-link" id="user-button" data-bs-toggle="pill" data-bs-target="#pills-user" style="text-align: left">-->
<!--                            User-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->

